{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        
        {% if user.is_staff %}
            <p class="lead">
                Number Of Approved students
                <div id="container" style="width: 75%;">
                    <canvas id="pie-chart"></canvas>
                </div>
            </p>

            <p class="lead">
                Students Percentage
                <div id="container" style="width: 75%;">
                    <canvas id="percentage-chart" ></canvas>
                </div>
            </p>
        {% endif %}
        <hr class="my-4">
        <p class="lead">
            
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>
    
            <script>

            function getRandomColor() { //generates random colours and puts them in string
                var colors = [];
                for (var i = 0; i < 50; i++) {
                    var letters = '0123456789ABCDEF'.split('');
                    var color = '#';
                    for (var x = 0; x < 6; x++) {
                    color += letters[Math.floor(Math.random() * 16)];
                    }
                    colors.push(color);
                }
                return colors;
                }

            var pieconfig = {
                type: 'pie',
                data: {
                    datasets: [{
                                    data: {{ piedata|safe }},
                                    backgroundColor: getRandomColor(),
                                    label: 'Students'
                                }],
                    labels: {{ pielabels|safe }}
                },
                options: {
                    responsive: true
                }
                };


                var barconfig = {
                type: 'bar',
                data: {
                    datasets: [{
                                    data: {{ bardata|safe }},
                                    backgroundColor: getRandomColor(),
                                    label: 'Students'
                                }],
                    labels: {{ barlabels|safe }}
                },
                options: {
                    responsive: true
                }
                };
    
       
        window.onload = function() {
          var ctx = document.getElementById('pie-chart').getContext('2d');
          window.myPie = new Chart(ctx, pieconfig);

           var ctx1 = document.getElementById('percentage-chart').getContext('2d');
           window.myBar = new Chart(ctx1, barconfig);
        };
    
      </script>

{% endblock content %}