{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<a href="{% url 'password_change' %}">Change Password</a>

{% csrf_token %}


        
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-md-5">
                    <div class="row my-3 p-3">
                        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
                    </div>
                    
                </div>
                <br>
                <div class="col-md-5">
                    <label class="small mb-1">Change Avatar:</label>
                    {{ profile_form.avatar }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                </div>
                <div class="col-md-5">
                    <label class="small mb-1">Email:</label>
                        {{ user_form.email }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">Phone no:</label>
                    {{ profile_form.phone }}  
                </div>
                <div class="col-md-5">
                    <label class="small mb-1">Course:</label>
                    {{ profile_form.courses }}   
                </div>
            </div>  
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">Address:</label>
                     {{ profile_form.address }}                  
                </div>
                <div class="col-md-5">
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                </div>
            </div>  
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">twelth percentage:</label>
                    {{ profile_form.twelth_percentage }}                
                </div>
                <div class="col-md-5">
                    <label style="display: block;" class="small mb-1">Approved:  </label>
                        {{profile_form.is_approved}}
                </div>
            </div>  
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">Counsling Date:</label>
                    <div> {{ profile_form.consulting_date }}</div>           
                </div>
                <div class="col-md-5">
                   
                </div>
            </div>  
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">upload twelth marksheet:</label>
                    {{ profile_form.twelth_marksheet }}
                    <a target="_blank" href="{{ user.profile.twelth_marksheet.url }}">click here for twelth marksheet</a>       
                </div>
                <div class="col-md-5">
                    <label class="small mb-1">upload tenth marksheet:</label>
                        {{ profile_form.tenth_marksheet }}
                    <a target="_blank" href="{{ user.profile.tenth_marksheet.url }}">click here for tenth marksheet</a>  
                </div>
            </div>  
            
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>            


            {% if profile_form.is_approved %}
            <a class="btn btn-dark btn-lg" href="studentcard/{{ user.profile.id }}">Download Access Card</a>
            {% endif %}    
        </form>

      
        
    </div>
{% endblock content %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

